@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/**** Navigation Bar ****/

.nav-wrapper{
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav a.nav-link{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: black;
    width: 7.6rem;
    padding-left: 0rem;
    font-family: 'courier prime';
}

nav a.nav-link:hover {
    border-bottom: 0.05rem solid black;
    margin-top: 0.1rem;
}

nav a.nav-link:visited{
    color: black;
}

/**** Header ****/

#prof-pic{
    margin-top: 6.3rem;
    margin-left: 5vw;
    margin-bottom: 0vh;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 0.1rem dotted black;
    z-index: 0;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#tsparticles{ 
    width: 100%;
    height: 9rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    /*box-shadow: 0 0.1rem 0.5rem 1rem black;*/
}


/**** About Me ****/
.aboutme-wrapper{
    position: absolute;
    margin-right: 10vw;
    margin-left: 18vw;
}

#aboutme-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vmax;
    font-style: italic;
}

#aboutme-text{
    color: gray;
    font-size: 1vmax;
}