@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/**** Navigation Bar ****/

nav a.nav-link{
    font-weight: 200;
    font-size: 200;
    letter-spacing: 0.03rem;
    cursor: pointer;
    color: black;
    width: 6.04rem;
    padding-left: 0rem;
    font-family: 'courier prime';
}

nav a.nav-link:hover {
    border-bottom: 0.05rem solid black;
    margin-top: 0.1rem;
}

nav a.nav-link:visited{
    color: black;
}